*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.root{
    --primary-color:#0095F9;
    --font-color:#0F332D;
    --font-secondary-color:#6B6B6B;
    --background-color:#F2FBFF;
    --other-range-color:#008496;
    --green-color:#3DB220;
}
.left-portion{
    width: 50%;
    text-align: center;
}
.right-portion{
    width: 50%;
}
.signinimage{
    height: 460px;
    width: 460px;
    display: block;
    margin: 0 auto;
}
.quote{
    text-align: center;
    margin-top: 60px;
    margin-left: 55px; 
}
form{
    display: table-caption;
    border: solid 1px grey;
    display: block;
    margin: 33px  auto;
    width: 500px;
    height: 600px;
    box-shadow: 0px 0px 16px 0px #888888;
    border-radius: 10px;
}
.Greeting{
    text-align: center;
    margin-top: 30px;
}
.Greeting2{
    text-align: center;
    margin-top: 10px;
}
.fname{
    width: 400px;
    height: 45px;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    border: solid 1px rgb(216, 212, 212);
    outline: none;
}
.lname{
    width: 400px;
    height: 45px;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    border: solid 1px rgb(216, 212, 212);
    outline: none;
}
.email{
    width: 400px;
    height: 45px;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    border: solid 1px rgb(216, 212, 212);
    outline: none;
} 
.Password{
    width: 400px;
    height: 45px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    border: solid 1px rgb(216, 212, 212);
    outline: none;
}
.checkBox{
    margin-left: 55px;
}

.sub-btn{
    height: 45px;
    width: 250px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    font-size: 20px;
    display: block;
    margin: 25px auto;   
}
.or{
    text-align: center;
}
.sign-in{
    text-align: center;
    margin-top: 15px;
}
input:focus::-webkit-input-placeholder {
    font-size: 10px;
    position: relative;
    top: -15px; 
    transition: 0.2s ease-out;
}
span{
    color: blueviolet;
}
a{
    text-decoration: none;
}










