*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-portion{
    width: 50%;
    text-align: center;
}
.signinimage{
    height: 460px;
    width: 460px;
    display: block;
    margin: 0 auto;
}
form{
    display: table-caption;
    border: solid 1px grey;
    margin-top: 25px;
    margin-right: 70px;
    width: 500px;
    height: 600px;
    box-shadow: 0px 0px 16px 0px #888888;
    border-radius: 10px;
}
.Greeting{
    text-align: center;
}
.fname{
    width: 400px;
    height: 45px;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    border: solid 1px rgb(216, 212, 212);
    outline: none;
}
.lname{
    width: 400px;
    height: 45px;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    border: solid 1px rgb(216, 212, 212);
    outline: none;
}
.email{
    width: 400px;
    height: 45px;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    border: solid 1px rgb(216, 212, 212);
    outline: none;
} 
.Password{
    width: 400px;
    height: 45px;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    border: solid 1px rgb(216, 212, 212);
    outline: none;
}

.sub-btn{
    height: 45px;
    width: 250px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    font-size: 20px;
    display: block;
    margin: 0px auto;   
}
.or{
    text-align: center;
}
.sign-in{
    text-align: center;
}
input:focus::-webkit-input-placeholder {
    font-size: 10px;
    position: relative;
    top: -15px; 
    transition: 0.2s ease-out;
}
span{
    color: blueviolet;
}
a{
    text-decoration: none;
}
.fa-eye:before {
    content: "\f06e";
    position: absolute;
    bottom: 245px;
    right: 140px;
}









